/*
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;900&display=swap');
*/

/* Sets the general page format */
body {
    margin: 0px;
    background-color: var(--indigo-dye);
    background: linear-gradient(90deg, var(--jetdark), 2%, var(--indigo-dye), 98%, var(--jetdark));
    background-size: 100%;
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

/* Set the header formatting and backup color*/
header {
    margin: 0;
    padding: 5%;
    height: 42vh;
    background-color: var(--jetdark);
}

/* ------- Navigation styling -------*/
nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--jetdark);
}

nav > ul > li {
    float: left;
}

/* ------ Navigation Link Styling ------- */
nav > ul > li > a {
    display: block;
    padding: 14px 16px;
    margin: 0;
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: var(--ming);
}

nav > ul > li > a:active {
    background-color: var(--cyan);
}

/* ---------------------------------------------------- */

/* Sets the formatting for the footer */
footer {
    padding: 3%;
    height: 6vh;
    background-color: var(--jetdark);
}

/* Set styling for h1 */
h1 {
    margin: 5% 2% 2% 2%;
    font-size: 12vh;
    font-weight: 900;
    color: var(--white);
    letter-spacing: 2vw;
    
}

/* Set styling for h1 */
h2 {
    margin: 2%;
    font-size: 42px;
    font-weight: 900;
    font-kerning: 10;
    color: var(--cyan);
}
h3 {
    margin: 0;
    font-size: 6vh;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 1vw;
    
}

/* Set all paragraph and list item size and margins */
p {
    font-size: 18px;
}

main > li {
    font-size: 18px;
}

header > div > p {
    font-size: 24px;
    color: var(--jetdark);
}

/* main link styling */

p > a {
    text-decoration: none;
}

p > a:link    { color: var(--cyan);  }
p > a:visited { color: var(--jetdark);   }
p > a:hover   { color: var(--ming); }
p > a:active  { color: var(--white);  }

hr {
    margin: 5% 10% 5% 10%;
}
img {
    width: 200px;
    max-width: 350px;
}

.list-outside {
    list-style-position: outside;
}

/* A class that allows for side by side layout */
.float {
    float: left;
    padding: 5px;
}

/* Sets element to center alignment */
.align-center {
    text-align: center;
}

/* A class that creates a circle border */
.round-border {
    padding: 0;
    margin: 2% 4% 2% 2%;
    border: 1px solid var(--smoke);
    border-radius: 50% 50% 0 50%;
}

/* A class that defines the base of all boxes */
.box {
    text-align: left;
    box-sizing: border-box;
    background-color: var(--indigo-dye);
    border: 1px solid var(--fog);
    border-radius: 10px;
}
/* A class that defines the box around images */
.img-box {
    margin: 0% 2% 2% 2%;
    box-sizing: border-box;
    background-color: var(--indigo-dye);
    border: 1px solid var(--smoke);
    border-radius: 30px;
}



/* Sets the padding for normal boxes */
.box-size {
    padding: 1% 3% 2% 3%;
    margin: 5% 10% 5% 10%;
    width: 80%;
}

/* Sets the padding for the large box */
.box-size-lg {
    padding: 1.25% 1.25% 1.25% 8%;
    margin: 5% 10% 5% 10%;
    width: 80%;
    min-height: 260p;
    
}

/* This creates a shadow behind each box */
.box-shadow {
    box-shadow: 0px 0px 20px #0C0C0E;
}

.box-inner-shadow {
    padding: 5%;
    box-shadow: inset 0 0 20px var(--jetdark);
}

/* a class that creates the banner color bands */
.color-bands {
    background-image: linear-gradient(45deg, var(--jet) 0%, 16.67%, var(--ming) 16.67%, 33.34%, 
    var(--jetdark) 33.34%, 50.01%, var(--smoke) 50.01%, 66.68%, var(--indigo-dye) 66.68%, 83.35%, var(--cyan) 83.35%);
    background-size: 100%;

    
}




/* Color Definitions */

/* CSS HEX */
:root {
    --jetdark: #252525;
    --jet: #353535;
    --ming: #3c6e71;
    --white: #ffffff;
    --cyan: #6CB2CC;
    --gainsboro: #d9d9d9;
    --fog: #808080;
    --smoke: #4D4D4D;
    --indigo-dye: #284b63;
}

